*,
* ::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62, 5%;
    /*1 rem = 10px */
    scroll-behavior: smooth;
}

body {
    font-size: 2rem;
    font-family: "Gowun Batang", serif;

}

/*  naviegatie bar */


.nav {
    background-color: #050C9C;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

.nav__img {
    height: 5.8rem;
    width: auto;
    margin-left: 4rem;
    border-radius: 50%;
}

.nav__list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__listItem {
    height: 6rem;
    display: flex;
}

.nav__listItem>a {
    height: 100%;
    padding: 3rem;
    text-decoration: none;
    display: flex;
    color: #eee;
    align-items: center;
    text-align: center;
}

.nav__listItem-text>a:hover {
    background-color: #F5B17B;
    border-radius: 0.6rem;
}

.nav__listItem:first-child {
    margin-right: auto;
}


.menu-button {
    display: none;
    margin-right: 2rem;
    justify-content: center;
    align-items: center;
}

/* side bar */
.nav__list__sideBar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 25rem;
    z-index: 999;
    background-color: #eee;
    backdrop-filter: blur(1rem);
    box-shadow: -1rem 0 1rem rgba(255, 255, 255, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    align-items: center;

}

.nav__list__sideBar>.nav__listItem__sideBar {
    width: 100%;
    list-style: none;
}

.nav__list__sideBar>.close-bar {
    color: #0B192C;
    justify-content: center;
    align-items: center;
    display: flex-start;
    list-style: none;
}

.nav__listItem__sideBar>a,
.nav__listItem__sideBar-mobile>a {
    width: 100%;
    text-align: center;
    justify-content: center;
    color: #0B192C;
    list-style: none;
    display: flex;
    list-style: none;
    text-decoration: none;

}

/* Home Page */

.homePage__img {
    height: 100vh;

}

.main__home {
    padding: 2rem;
    text-align: center;
    justify-content: center;
    display: flex;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), 80%, rgba(0, 0, 0, 0.5)), url(../logo/schoolfoto_mbo.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    width: 100%;
}

.main__text {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #eee;
    font-family: "Lato", sans-serif;
    font-style: italic;
}

.main__text>h1 {
    justify-content: center;
    text-align: center;
    display: flex;
    font-family: "Lato", sans-serif;
    font-style: italic;

}

.main__text>p {
    justify-content: center;
    text-align: center;
    display: flex;
    font-family: "Raleway", sans-serif;
    font-style: normal;
}

a.main__btn {
    color: white;
    background-color: #050C9C;
    border-radius: 3rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    padding: 12px 24px;
    text-decoration: none;
    width: fit-content;
    font-family: "Raleway", sans-serif;
    font-style: italic;

}

a.main__btn:hover {
    color: white;
    background-color: #3ABEF9;
    background-color: #F5B17B;
}

/* informatie SV-Unity */

.informatie {
    background: #F5F5F5;
    padding: 2rem;
    display: flex;
    min-height: 50vh;
    width: 100%;
    box-shadow: inset 0 1rem 2rem 0 rgba(53, 34, 193, 0.4);
}

.informatie__text {
    gap: 20px;
    color: #0B192C;
    font-family: "Lato", sans-serif;
    font-style: normal;
    width: 50%;
}

.informatie__text h1 {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2rem;
    font-family: "Lato", sans-serif;
    font-style: italic;
    margin-top: 2rem;
    overflow: hidden;
    width: 100%;
}

.informatie__text h3 {
    align-items: center;
    margin-left: 2rem;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-top: 0.5rem;
    width: 100%;

}

.informatie__text h5 {
    margin-top: 1rem;
    align-items: center;
    margin-left: 2rem;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    width: 100%;

}

.informatie__text h6 {
    margin-top: 1rem;
    align-items: center;
    margin-left: 2rem;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 2rem;
    width: 100%;

}

a.informatie__btn {
    color: white;
    background-color: #050C9C;
    border-radius: 3rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    padding: 8px 18px;
    text-decoration: none;
    width: fit-content;
    font-family: "Raleway", sans-serif;
    font-style: italic;
    margin-left: 6.5rem;
    display: flex;
}

a.informatie__btn:hover {
    color: white;
    background-color: #3ABEF9;
    background-color: #F5B17B;
}

.info__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.informatie__img {
    width: 35rem;
    height: auto;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: transform 0.3s ease;
}

.informatie__img:hover {
    transform: scale(1.2);
    cursor: pointer;
}


/* inschrijf formulier */

.container__registratie {
    background-image: linear-gradient(#3572EF, #A7E6FF);
    width: 65rem;
    padding: 2.8rem;
    margin: 0 15rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.6);
    margin-top: 8rem;
}

.container h2 {
    font-size: 2.6rem;
    font-weight: bold;
    text-align: center;
    color: #eee;
    padding-bottom: 0.8rem;
    border-bottom: 0.1rem solid silver;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 0;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 1.5rem;
}

.input-box:nth-child(2n) {
    justify-content: end;
}

.input-box label,
.gender-title {
    width: 95%;
    color: #eee;
    font-weight: bold;
    margin: 0.5rem 0;
}

.gender-title {
    font-size: 1.6rem;
}

.input-box input {
    height: 4rem;
    width: 95%;
    padding: 0 1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #050C9C;
    outline: none;
}

.input-box input:is(:focus, :valid) {
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
}

.gender-category label {
    padding: 0 2rem 0 0.5rem;
    font-size: 1.4rem;
}

.gender-category {
    color: #000000;
}

.gender-category label,
.gender-category input {
    cursor: pointer;
}

.alert p {
    font-size: 1.4rem;
    font-style: italic;
    color: #fff;
    margin: 0.5rem 0;
    padding: 1rem;
    line-height: 1.5;
}

.alert a {
    font-weight: bold;
    text-decoration: none;
    color: #050C9C;
}

.alert a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #0B192C;
}

.button-container {
    margin: 1.5rem 0;
}

.button-container button {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    display: block;
    font-size: 2rem;
    color: #eee;
    border: none;
    border-radius: 0.5rem;
    background-image: linear-gradient(to right, #A7E6FF, #050C9C);
    cursor: pointer;
    transition: 0.3s;
}

.button-container button:hover {
    background-image: linear-gradient(to right, #050C9C, #A7E6FF);
}

/* evenement slijder */

.evenementen-swiper__container,
.evenement-single__container {
    max-width: 1200px;
    margin: 0 auto;
}

.evenementen-swiper__item {
    padding: 2rem 0;
    margin-top: 6rem;
    text-align: center;
    display: block;
}

.evenementen-swiper__item a {
    text-decoration: none;
}

.evenementen-swiper__title {
    margin-bottom: 1rem;
    text-decoration: none;
    color: #0B192C;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 200;
}

.evenementen-swiper__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25rem;
    object-fit: cover;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
}

.evenementen-swiper__img:hover {
    transform: scale(1.1);
    cursor: pointer;

}

.evenementen-swiper__shortDesc p {
    text-decoration: none;
    color: #000000;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 20;
}

.evenementen-swiper__cta {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-style: italic;
    color: #050C9C;
    padding: 0.6rem;
    border: 1px solid rgba(0, 0, 0, 0);
    text-align: center;
    display: block;
}

.evenementen-swiper__cta:hover {
    cursor: pointer;
    border: 1px solid #0B192C;
    border-radius: 1rem;
}

.swiper-button-next {
    color: #3ABEF9;
    border-radius: 50%;
    border: 3px solid #050C9C;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev {
    color: #3ABEF9;
    border-radius: 50%;
    border: 3px solid #050C9C;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

/* evenement informatie page */

.evenement-single__title {
    margin-bottom: 1rem;
    text-decoration: none;
    color: #0B192C;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    overflow: hidden;
    display: flex;
}

.evenement-single__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25rem;
    object-fit: cover;
    border-radius: 0.5rem;
    margin: auto;
}

.evenement-single__longdesc {
    margin-top: 2rem;
    text-decoration: none;
    color: #0B192C;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 20;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

.evenement-single__date {
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    margin-left: 28rem;
    border: 2px solid #0B192C;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
}


/* informatie pagina */

.information {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), 80%, rgba(0, 0, 0, 0.5)), url(../logo/groep_mensen.jpg);
    box-shadow: inset 0 1rem 2rem 0 rgba(53, 34, 193, 0.4);
    background-repeat: no-repeat;
    background-size: cover;

}

.information__title {
    margin-top: 3rem;
    color: #0B192C;
    font-family: "Lato", sans-serif;
    font-style: normal;
    width: 100%;
    text-align: center;
    color: #3ABEF9;
    padding: 1rem;
}

.information__kopje {
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-weight: 300;
    margin-top: 0.5rem;
    width: 100%;
    font-size: 110%;
    text-align: center;
    color: #A7E6FF;

}

.information__text {
    display: flex;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 200;
    margin-top: 0.5rem;
    width: 100%;
    color: #0B192C;
    flex-direction: column;
    text-align: center;
    color: #eee;
    font-size: 80%;
    padding: 2rem;
}

.information__text-alinea {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-size: 115%;
    color: #3ABEF9;

}


/* footer */


.contact {
    background: #050C9C;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer__img {
    width: 15rem;
    height: auto;
    border-radius: 50%;
    margin-left: 2rem;
}

.contact-info {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 8rem;
    margin-bottom: 4rem;
    margin-left: 2rem;
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    border-radius: 1rem;
}

.contact-info h4 {
    color: #eee;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contact-info p {
    color: #eee;
    font-size: 25px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}

.social-icon {
    color: #eee;
    margin-right: 10px;
    font-size: 30px;
    transition: all .42s;
    margin-top: 4rem;
}

.social-icon i:hover {
    transform: scale(1.3);
}

.footer__link {
    color: #eee;
    text-decoration: none;
}

.footer__link:hover {
    color: #F5B17B;
}

/* responsive */

@media (max-width:80rem) {
    .nav__listItem__sideBar {
        display: none;
    }

    .nav__listItem-text {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .nav__list__sideBar {
        gap: 3rem;
        padding: 2rem;
    }

    /*  informatie section responsive 80rem*/
    .informatie {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .informatie__text {
        width: 90%;
        text-align: center;
        padding: 1rem;
        margin-right: 2.5rem;
    }

    .informatie__text h1 {
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        font-size: 130%;
    }

    .informatie__img {
        width: 25rem;
        margin-top: 2rem;
        overflow: hidden;
    }

    a.informatie__btn {
        margin-left: 15rem;
        margin-top: 2rem;
    }

    /* inschrijf formulier responsive 80 rem*/
    .container__registratie {
        width: 90%;
        padding: 4rem;
        display: flex;
    }

    .content {
        max-height: 38rem;
        overflow: auto;

    }

    .input-box {
        margin-bottom: 1.2rem;
        /* width: 100%; */
        width: 100%;
        justify-content: center;
        margin-left: 1rem;
        flex-direction: column;

    }

    .button-container button {
        font-size: 1.8rem;
    }

    .input-box:nth-child(2n) {
        justify-content: space-between;
    }


    .gender-title {
        margin-left: 1rem;
    }

    .gender-category {
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin-left: 1rem;
    }

    .content::-webkit-scrollbar {
        width: 5;
    }

    /* evenement slijder responsive */

    .evenementen-swiper__container {
        max-width: 100%;
        padding: 0 2rem;
    }

    .evenementen-swiper__img {
        height: 20rem;
    }

    .evenementen-swiper__title {
        font-size: 1.8rem;
    }


    /* informatie evenement page */

    .evenement-single__date {
        font-size: 2rem;
        display: flex;
        margin: auto;
        text-align: center;
        justify-content: center;
        width: 60%;
    }


    /* footer */
    .contact {
        flex-direction: column;
        align-items: center;
    }

    .footer__img {
        width: 12rem;
        margin-bottom: 2rem;
    }

    .contact-info {
        flex-direction: column;
        gap: 2rem;
        margin-top: 4rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .contact-info h4 {
        font-size: 25px;
    }

    .contact-info p {
        font-size: 22px;
    }

    .social-icon {
        font-size: 25px;
        margin-top: 2rem;
    }
}

@media (max-width:40rem) {
    .nav__list__sideBar {
        width: 100%;
    }

    /*  informatie section responsive 40 rem*/

    .informatie {
        padding: 1rem;
    }

    .informatie__img {
        width: 100%;
        max-width: 20rem;
    }

    .informatie__text {
        width: 100%;
        text-align: left;
    }

    a.informatie__btn {
        padding: 8px 12px;
        font-size: 0.9rem;
        margin: 1rem auto;
    }

    /* inschrijf formulier responsive 40 rem*/
    .container__registratie {
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
        margin-top: 4rem;
    }

    .container h2 {
        font-size: 2rem;
    }

    .content {
        padding: 1rem 0;
    }

    .input-box {
        width: 100%;
        margin-bottom: 1rem;
        flex-direction: column;

    }

    .input-box input {
        height: 3.5rem;
        width: 100%;
        flex-direction: column;

    }

    .gender-category {
        width: 100%;
        justify-content: space-around;
        margin-left: 1rem;
    }

    .gender-title {
        margin-left: 1rem;
    }

    .button-container button {
        font-size: 1.6rem;
        padding: 0.8rem;
    }

    /* evenement informatie page */
    .evenement-single__date {
        font-size: 2rem;
        width: 80%;
    }

    /* footer  */

    .contact {
        padding: 1rem;
    }

    .footer__img {
        width: 10rem;
        margin-bottom: 1.5rem;
    }

    .contact-info {
        gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }

    .contact-info h4 {
        font-size: 20px;
    }

    .contact-info p {
        font-size: 18px;
    }

    .social-icon {
        font-size: 22px;
    }

}